<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Flask - User Input via HTTP POST</title>
</head>
<body>

  <!-- <form method="POST">
    <input type="text" name="json" placeholder="Your Name"></input>
    <input type="submit" value="Submit"></input>
  </form> -->


  {% if name %}

  <h1>Your JSON's have been recieved!</h1>
  <h2>Potential Fraudulent Transactions</h2>
    <table>
    <tbody>
    {% for name in name %}
    <TR>
       <TD class="c1">{{name.name_length}}</TD>
       <TD class="c2">{{name.name}}</TD>
       <TD class="c3">{{name.description}}</TD>
       <TD class="c4"><SPAN>{{name.org_name}}</SPAN></TD>
       <TD class="c5"><SPAN>{{name.total_payout}}</SPAN></TD>
    </TR>
    {% endfor %}
    </tbody>
    </table>

  {% else %}

  <h1>Hello!</h1>
  <p>No JSON was posted!</p>

  {% endif %}
</body>



</html>
