<!DOCTYPE html>
<html>
<head>

<style type="text/css">
table.imagetable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table.imagetable th {
	background:#b5cfd2 url('cell-blue.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
table.imagetable td {
	background:#dcddc0 url('cell-grey.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
</style>

  <meta charset='utf-8'>
  <title>Flask App - SQL Model Contents</title>
</head>
<body>

  <!-- <form method="POST">
    <input type="text" name="json" placeholder="Your Name"></input>
    <input type="submit" value="Submit"></input>
  </form> -->


  {% if name %}

  <h1>Fraud Prediction</h1>
  <h2>Potential Fraudulent Transactions</h2>
  <p>
      <ul> Prediction = 0. No Fraud Detected</ul>
      <ul> Prediction = 1. Issue Warrant for Arrest of User</ul>
  </p>
    <table class="imagetable">
        <thead>
            {% for header in headers %}
            <th>{{header}}</th>
            {% endfor %}
        </thead>
        <tbody>
            {% for line in name %}
            <TR>
                {% for elem in line %}
               <TD>{{ elem }}</TD>
                {% endfor %}
            </TR>
            {% endfor %}
        </tbody>
    </table>

  {% else %}

  <h1>Hello!</h1>
  <p>No Data in Database!</p>

  {% endif %}
</body>



</html>
